<h2>app-module HTML</h2>
<h1>Контактний тел. 096-388-48-82</h1>
<mat-button-toggle-group>
  <mat-button-toggle><b>Масаж обличчя</b></mat-button-toggle>
  <mat-button-toggle><b>Масаж спини</b></mat-button-toggle>
  <mat-button-toggle><b>Масаж шийно-комирцевої зони</b></mat-button-toggle>
  <mat-button-toggle><b>Масаж ніг</b></mat-button-toggle>
  <mat-button-toggle><b>Масаж антицелюлітний</b></mat-button-toggle>
  <mat-button-toggle><b>Масаж комплексний</b></mat-button-toggle>
</mat-button-toggle-group>


